/* body {
  font-family: 'LunchType-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #ffffff;
  color: #333333;
  margin: 40px auto;
  width: 620px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
} */

body {
  font-family: 'LunchType-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.section {
  min-height: 100vh;
  display: flex;
  position: relative;
}

/* helper class that adds padding to our sections */
.section-pad {
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  max-width: 810px;
  /* this will center our box vertically and horizontally */
  margin: auto;
}

.intro {
  background-image: url(assets/images/intro.jpg);
  color: #ffffff;
}

.intro p {
  font-size: 36px;
  line-height: 1.2;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  max-width: 112px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width: 100%;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.appear {
  /* set the opacity as a starting point */
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  /* make sure the end state stays the same after animation */
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  /* each letter will be 5% of the viewport width */
  font-size: 5vw;
  line-height: 1;
  /* this will stop horizontal scroll bars */
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee span {
  /* shorthand brief version of the animation css rule  */
  animation: moveLeft 400s infinite;
  /* keep text all on a single line */
  white-space: nowrap;
  /* our span in inline by default */
  display: block;
  /* this will let us add our animation */
  position: relative;
}

.difference {
  mix-blend-mode: difference;
}

.day-1 {
  background-color: #FD76A7;
}

.day-2 {
  background-color: #1BB190;
}

.day-3 {
  background-image: url(assets/images/day-3.jpg);
}

.day {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.day .container {
  /* force content to display on top of shape background */
  position: relative;
  z-index: 2;
}

.lineup {
  text-align: center;
}

.lineup h2 {
  font-size: 56px;
  line-height: 1;
  margin-bottom: 6px;
}

.date {
  font-size: 28px;
  color: #FFEECF;
  margin-bottom: 48px;
  line-height: 1;
}

.lineup p {
  font-size: 21px;
}

.lineup li {
  margin-bottom: 24px;
}

.scroll-to {
  position: absolute;
  left: 50%;
  /* offset by half of the width of the object */
  transform: translateX(-50%);
  bottom: 3vh;
  width: 64px;
  height: 32px;
  background-image: url(assets/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.scroll-to-intro {
  background-image: url(assets/images/down-arrow-light.svg);
}